:root {
  //font
  --font-family: Vollkorn, serif;
  --regular: 400;
  --semibold: 600;
  --bold: 800;

  //color
  --primary: #c5aa6f;
  --dark: #313346;
  --dark-hover: #181a2c;
  --light: #efe6d2;
  --light-hover: #efe6d2;
  --alert: #ff8291;
  --black: #000;
  --white: #fff;

  //sizes
  --xx-small: 2px;
  --x-small: 4px;
  --small: 8px;
  --medium: 16px;
  --large: 24px;
  --x-large: 32px;
  --xx-large: 40px;
}

*,
button {
  font-family: var(--font-family);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

body {
  background-color: var(--dark);
  background: url(assets/bg.jpg) no-repeat;
  background-size: cover;
  background-position-x: 0%;
  background-attachment: fixed;
}
