.play-offs__team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  height: var(--xx-large);
  background: linear-gradient(89.95deg, var(--dark), var(--black) 160%);
  color: var(--light);
  outline: 0;
  border: 0;
  cursor: pointer;
  &:last-child {
    background: linear-gradient(89.95deg, var(--black) -60%, var(--dark) 100%);
  }
  &:hover,
  &:focus {
    background: var(--black);
  }
  &:disabled {
    opacity: 0.7;
    cursor: default;
    pointer-events: none;
  }
}

.play-offs__team-name {
  font-size: var(--medium);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  text-align: left;
  padding: 0 var(--small);
  pointer-events: none;
}

.play-offs__image-region {
  width: var(--xx-large);
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  img {
    width: calc(var(--small) * 10);
  }
}

.play-offs__icon {
  padding: 0 var(--small);
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;
}
