<div class="team-manager">
  <lol-container>
    <lol-title size="medium"> GERENCIAMENTO DOS TIMES </lol-title>

    <div class="team-manager__content">
      <lol-team-form *ngFor="let team of teams" [teams]="teams" [team]="team"></lol-team-form>
    </div>

    <lol-divisor></lol-divisor>

    <footer class="team-manager__footer">
      <lol-button routerLink="/info-team-manager"> Retornar </lol-button>
      <lol-button (click)="startBattle()" text="Iniciar Batalha"> </lol-button>
    </footer>
  </lol-container>
</div>

<lol-dialog size="medium" dialogId="region" title="Selecionar Nação">
  <content>
    <lol-region></lol-region>
  </content>
  <footer>Teste</footer>
</lol-dialog>
