.map-bg {
  width: 100vw;
  height: 100vh;
  padding: 0 var(--large);
  padding-top: 188px;
  background: url(../assets/bg.jpg) no-repeat;
  background-size: cover;
  background-position-x: 0%;
  display: flex;
  justify-content: center;
}

.map-bg_team-manager {
  background-position-x: 100%;
}
