.map-bg {
  width: 100vw;
  height: 100vh;
  padding-top: 188px;
  background: url(../assets/bg.jpg) no-repeat;
  background-size: 130%;
  background-position-x: 0%;
}

.map-bg_team-manager {
  background-position-x: 100%;
}
