<label [for]="'name' + team.id" class="label">Time 0{{ team.id }}</label>

<input
  type="text"
  class="input"
  (change)="changeNameTeam(team, $event)"
  required
  [id]="'name' + team.id"
  [name]="'name' + team.id"
  autocomplete="off"
/>

<p *ngIf="!team.name" class="text-validate">É obrigatório inserir um nome</p>

<label class="label">Região: {{ team.region.name }}</label>

<lol-button (click)="chooseRegion(team)" text="Escolher ou alterar Região"></lol-button>

<p *ngIf="!team.region.id" class="text-validate">É obrigatório escolher uma região</p>

<lol-divisor dark="true"></lol-divisor>
