<h3 class="title">Time 0{{ team.id }}</h3>
<input
  type="text"
  class="input"
  (change)="changeNameTeam(team, $event)"
  name="name"
  required
  autocomplete="off"
/>
<p *ngIf="!team.name" class="text-validate">É obrigatório inserir um nome {{ team.index }}</p>

<h3 class="title">Região:</h3>

<lol-button text="Escolher ou alterar Região"></lol-button>

<p *ngIf="!team.region.length" class="text-validate">
  É obrigatório escolher uma região {{ team.id }}
</p>

<lol-divisor dark="true"></lol-divisor>
