<h3 class="title">Time 0{{ team.id }}</h3>

<input
  type="text"
  class="input"
  (change)="changeNameTeam(team, $event)"
  name="name"
  required
  autocomplete="off"
/>

<p *ngIf="!team.name" class="text-validate">É obrigatório inserir um nome</p>

<h3 class="title">Região: {{ team.region.name }}</h3>

<lol-button (click)="chooseRegion(team)" text="Escolher ou alterar Região"></lol-button>

<p *ngIf="!team.region.id" class="text-validate">É obrigatório escolher uma região</p>

<lol-divisor dark="true"></lol-divisor>
