.container {
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
  padding: var(--large);
  border-radius: var(--medium);
  width: 100%;
  max-width: 560px;
  opacity: 1;
  transform: translate(0, 0);
  animation: containerAnimation ease 0.8s;
}

@keyframes containerAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 200px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
