<div (click)="close()" class="dialog dialog_no-scroll {{ size }}" [id]="dialogId">
  <div (click)="preventClick($event)" class="dialog__container">
    <header class="dialog__header">
      <lol-title>{{ title }}</lol-title>
      <p class="dialog__subtitle">{{ subtitle }}</p>
    </header>

    <div class="dialog__content">
      <ng-content></ng-content>
    </div>

    <button class="dialog__buttonClose" type="button" (click)="close()" aria-label="Fechar diálogo">
      ✖
    </button>
  </div>
</div>
