<div (click)="close()" class="dialog" [id]="dialogId">
  <div (click)="preventClick($event)" class="dialog__container">
    <header class="dialog__header">
      <h2 class="dialog__title">{{ title }}</h2>
      <p class="dialog__subtitle">{{ subtitle }}</p>
    </header>

    <div class="dialog__content">
      <ng-content select="content"></ng-content>
    </div>

    <footer class="dialog__footer">
      <ng-content select="footer"></ng-content>
    </footer>

    <button class="dialog__buttonClose" type="button" (click)="close()" aria-label="Fechar diálogo">
      ✖
    </button>
  </div>
</div>
