.info-team-manager {
  width: 100%;
}

.info-team-manager__button-return {
  position: fixed;
  top: 24px;
  left: 24px;
}

.info-team-manager__content {
  max-width: 520px;
}

.info-team-manager__footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
